<div class="card__column">
  <div class="card-width">
    <div class="card card-ctn align-items-center">
      <img src="/images/image.JPG" class="card-img-top card__picture" alt="...">
      <div class="card-body text-center">
        <h2 class="card-title text-dark card__name">Yush</h2>
      </div>
      <div class="card-body text-center">
        <a href="#" class="card-link card__icons"><i class="fa fa-brands fa-twitter"></i></a>
        <a href="#" class="card-link card__icons"><i class="fa fa-brands fa-facebook-f"></i></a>
        <a href="#" class="card-link card__icons"><i class="fab fa-brands fa-instagram"></i></a>
      </div>

    </div>

  </div>
</div>
