<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card profile_card">
        <div class="card__pictures-ctn">
          <div class="card__pictures--bg-ctn">
            <img src="/images/bg.jpg" class="card-img-top card__pictures--bg" alt="...">
          </div>
          <img src="/images/image.JPG" class="card-img-top card_picture--pf" alt="...">
        </div>
      <div class="card-body text-center card__info-ctn">
        <h2 class="card-title card__name">Bik-Bik</h2>
        <p class="card-text card__about">Tweet Tweet Tweet Tweet Tweet Tweet Tweet Tweet Tweet.</p>
      </div>
      <div class="card-body text-center card__icon-ctn">
        <a href="#" class="card-link card__icons"><i class="fa fa-brands fa-twitter-square"></i></a>
        <a href="#" class="card-link card__icons"><i class="fa fa-brands fa-facebook-square"></i></a>
        <a href="#" class="card-link card__icons"><i class="fab fa-brands fa-instagram-square"></i></a>
      </div>
    </div>
    </div>
