<%- include("partials/navbar"); -%>
<%- include("partials/side-profile"); -%>

<div class="mx-auto container">
  <form class="form" action="/compose" method="post">
    <div class="mb-3">
      <label class="form-label">Post Title</label>
      <input type="text" name="title" class="form-control form-control-lg" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Content</label>
      <textarea class="form-control" name="content" rows="10" required></textarea>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-dark text-uppercase">Post</button>
    </div>
    <div class="text-center">
      <a href="/" class="btn btn-secondary btn-lg text-uppercase mt-5">Go back</a>
    </div>
  </form>
</div>

<%- include("partials/footer"); -%>
